<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.6">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>${project.parent.organization.name}</author>
	<description>${project.parent.description}</description>

	<activator>org.openmrs.module.initializer.InitializerActivator</activator>
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<conditionalResources>
		<conditionalResource>
			<path>/lib/initializer-api-2.4-${project.version}.jar</path>
			<openmrsVersion>2.4.* - 9.*</openmrsVersion>
		</conditionalResource>
		<conditionalResource>
			<path>/lib/initializer-api-2.5-${project.version}.jar</path>
			<openmrsVersion>2.5.13 - 9.*</openmrsVersion>
		</conditionalResource>
	</conditionalResources>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
		<aware_of_module version="${htmlformentryVersion}">
			org.openmrs.module.htmlformentry
		</aware_of_module>
		<aware_of_module version="${idgenVersion}">
			org.openmrs.module.idgen
		</aware_of_module>
		<aware_of_module version="${metadatasharingVersion}">
			org.openmrs.module.metadatasharing
		</aware_of_module>
		<aware_of_module version="${metadatamappingVersion}">
			org.openmrs.module.metadatamapping
		</aware_of_module>
		<aware_of_module version="${appointmentsVersion}">
			org.bahmni.module.appointments
		</aware_of_module>
		<aware_of_module version="${datafilterVersion}">
			org.openmrs.module.datafilter
		</aware_of_module>
		<aware_of_module version="${bahmniIeAppsVersion}">
			org.bahmni.module.bahmni.ie.apps
		</aware_of_module>
		<aware_of_module version="${openconceptlabVersion}">
			org.openmrs.module.openconceptlab
		</aware_of_module>
		<aware_of_module version="${bahmniCoreVersion}">
			org.bahmni.module.bahmnicore
		</aware_of_module>
		<aware_of_module version="${cohortModuleVersion}">
			org.openmrs.module.cohort
		</aware_of_module>
		<aware_of_module version="${fhir2Version}">
			org.openmrs.module.fhir2
		</aware_of_module>
		<aware_of_module version="${queueVersion}">
			org.openmrs.module.queue
		</aware_of_module>
	</aware_of_modules>
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>
