name: Build and Test

on:
  pull_request:
    branches: [main]

  push:
    branches-ignore: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          java: [ '8', '11']

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Build and Test
        run: mvn --batch-mode --update-snapshots clean package -P validator
